<a href="https://colab.research.google.com/github/lehoanganhtu/DataAnalystDeepLearning/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd
s = pd.Series([12,-4,7,9])
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [2]:
print("Hello thay")

Hello thay

In [3]:
import pandas as pd
s = pd.Series([12,-4,7,9])
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

ex2

In [4]:
import pandas as pd
s = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s)

a    12
b    -4
c     7
d     9
dtype: int64

# ex3

In [5]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

ex 4